<ion-tabs>
  <ion-tab-bar slot="bottom" color="app">
    <ion-tab-button tab="tapas/carne">
      <ion-icon src="assets/img/carne.svg"></ion-icon>
      <ion-label>Carne</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tapas/pescado">
       <ion-icon src="assets/img/pescado.svg"></ion-icon>
      <ion-label>Pescado</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tapas/otros">
      <ion-icon src="assets/img/vegetal.svg"></ion-icon>
      <ion-label>Otros</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="tapas/tablas">
      <ion-icon src="assets/img/cena.svg"></ion-icon>
      <ion-label>Tablas</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="tapas/bocadillos">
      <ion-icon src="assets/img/hamburguesa.svg"></ion-icon>
      <ion-label>Bocadillos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tapas/especiales">
      <ion-icon name="beer-outline"></ion-icon>
      <ion-label>Especiales</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>